In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer

import env
import wrangle1

df, train, validate, test = wrangle1.wrangle_zillow()

In [3]:
df, train, validate, test = wrangle1.wrangle_zillow()

In [5]:
# used class model, added comments to prove understanding

In [6]:
def scale_data(train, validate, test):
    #pick which columns to scale
    scale_columns = ['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet']
    #make copy so that the original values are unaffected
    train_scaled = train.copy()
    validate_scaled = validate.copy()
    test_scaled = test.copy()
    #define test
    mms = MinMaxScaler()
    #fit test to train only 
    mms.fit(train[scale_columns])
    #copies and selected columns = Min-Max transformed data of same selected columns. Used original data for transform in the equation, but the changes are not permanent to the original dataset. if you pull it up it'll be fine
    train_scaled[scale_columns] = mms.transform(train[scale_columns])
    validate_scaled[scale_columns] = mms.transform(validate[scale_columns])
    test_scaled[scale_columns] = mms.transform(test[scale_columns])
    
    return train_scaled, validate_scaled, test_scaled

In [7]:
train_s, validate_s, test_s = scale_data(train, validate, test)

In [8]:
x_train_s = train_s.drop(columns=['taxvaluedollarcnt'])
y_train_s = train_s.taxvaluedollarcnt

x_validate_s = validate_s.drop(columns=['taxvaluedollarcnt'])
y_validate_s = validate_s.taxvaluedollarcnt

x_test_s = test_s.drop(columns=['taxvaluedollarcnt'])
y_test_s = test_s.taxvaluedollarcnt

In [ ]:
# original

In [10]:
train.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,fips
415076,3.0,2.0,1412.0,60678.0,1971.0,6037.0
396128,4.0,2.0,1765.0,337206.0,1965.0,6059.0
51748,3.0,1.5,1250.0,51854.0,1955.0,6059.0
1172803,3.0,2.5,2628.0,800380.0,1987.0,6059.0
1341986,4.0,3.0,2756.0,852809.0,1990.0,6037.0

In [ ]:
#transformed

In [12]:
x_train_s.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,yearbuilt,fips
415076,0.500000,0.307692,0.081973,1971.0,6037.0
396128,0.666667,0.307692,0.102481,1965.0,6059.0
51748,0.500000,0.230769,0.072561,1955.0,6059.0
1172803,0.500000,0.384615,0.152617,1987.0,6059.0
1341986,0.666667,0.461538,0.160053,1990.0,6037.0